.loginPage{
    background:white;
    width: 800px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
}
.left{
    /* border: 1px solid blue; */
    width: 500px;
}
.right > .logForm{
    /* border: 1px solid red; */
    padding: 5px;
    width: 300px;
    color: black;
    border-radius: 20px;
    text-align: end;
}
.right > .logForm > h2{
    display: inline;
    margin: 1px;
    padding: 1px;
    /* border: 1px solid red; */
}
.right > .logForm > input{
    width: 265px;
    height: 35px;
    padding: 5px;
    margin: 20px 10px;
    background: #aaa;
    color: black;
    text-align: end;
    font-size: 17px;
    border: 0 none;
    border-radius: 10px;
    outline: none;
}
.right > .logForm > .log{
    color: black;
    display: block;
    width:150px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin: 10px auto;
    padding: 0px;
    font-size: 25px;
    background-color: rgb(57, 109, 252);
}
.right > .logForm > .question > p,
.right > .logForm > .question > a{
    /* border: 1px solid red; */
    display: inline;
    padding: 5px;
}


